---
apiVersion: v1
kind: Service
metadata:
  name: auth-bypass
  labels:
    app: auth-bypass
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: auth-bypass
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-bypass
  labels:
    app: auth-bypass
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-bypass
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: auth-bypass
    spec:
      restartPolicy: Always
      containers:
        - name: auth-bypass
          image: "{{ auth_image }}"
          env:
            - name: DEPLOY_TIME
              value: "{{ auth_time }}"
            - name: APP_PORT
              value: "{{ auth_port }}"
            - name: APP_BASE
              value: "{{ auth_bypass_path }}"
            - name: APP_MONGODB_CONNECTION
              value: "{{ auth_mongodb_connection }}"
            - name: APP_SUPER_USERNAME
              value: "{{ auth_super_username }}"
            - name: APP_SUPER_PASSWORD
              value: "{{ auth_super_password }}"
          ports:
            - name: http
              containerPort: 80
