---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ ingress_name }}"
  annotations:
    kubernetes.io/ingress.class: "{{ ingress_class }}"
    cert-manager.io/cluster-issuer: "{{ cert_issuer }}"
spec:
  rules:
    - host: "{{ domain }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: web
                port: 
                  number: 80
    - host: api.{{ domain }}
      http:
        paths:
          - path: /auth/v0
            pathType: Prefix
            backend:
              service:
                name: auth
                port: 
                  number: 80
    - host: "{{ domain }}"
      http:
        paths:
          - path: /api/auth/v0
            pathType: Prefix
            backend:
              service:
                name: auth-bypass
                port: 
                  number: 80
  tls:
    - hosts:
        - "{{ domain }}"
        - "*.{{ domain }}"
      secretName: "{{ domain }}"
